ModPagespeed off
Header set Access-Control-Allow-Origin "*"

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /

# Force to SSH (geolocation on insecure origins is deprecated)
# RewriteCond %{HTTPS} !^on$
# RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R]

# Same as above, but avoiding a 302 error
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Forward domain.com to www.domain.com (not quite working)
#RewriteCond %{HTTP_HOST} ^findsomecoffee.com [NC]
#RewriteRule ^(.*)$ http://www.findsomecoffee.com/$1 [L,R=301]

# Fix the router path issues
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
</IfModule>
