<div id="item-template" 
	class="col-md-4 col-sm-6 portfolio-item hidden"
>
	<!-- Link href should match the modal's unique ID -->
	<a href="#itemDetails" 
		class="portfolio-link" 
		data-toggle="modal"
	>
		<div class="portfolio-hover">
			<div class="portfolio-hover-content">
				<i class="fa fa-plus fa-3x"></i>
			</div>
		</div>
		<div class="photo-container">
			<img id="photo-main" 
				src="img/photo-not-available.jpg" 
				class="img-responsive" 
				alt="..."
			>
		</div>
	</a>
	<div class="portfolio-caption">
		<h4 class="name loading"></h4>
		<p class="rating loading"></p>
	</div>
</div>
